
html { 
  background: url(../image/dna1.png) no-repeat center center fixed; 
  background-color: #c8d3dc;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.landingPageContainer{
  /*width: 100%;*/
  /*margin-top: 20%;*/
  position: absolute;
  top: 45%; left: 50%;
  transform: translate(-50%,-50%);
  width:50%;
  height: 50%;
  text-align: center;
  font-family: "Playfair Display", Arial, serif;
  color: #111;
  

}
h1{

  font-size: 100px;
  margin-top: 0px;
  margin-bottom: 100px;
}
h2{

  font-size: 50px;
}
img{
    margin-top: 0;
}

.file{

  margin-top: 100px;
  font-weight: normal;
}

.file>.upload{


  color:#fff;
  background-color: #30a705;
  font-size:20px;
  height: 50px;
  width: 200px;
  border: none;
  box-shadow: none;
  border-radius: 10px;

}
.file>.demo{
  background: #aaaaaa;
  font-size:20px;
  height: 50px;
  width: 100px;
  border: none;
  box-shadow: none;
  border-radius: 10px;
}